Flask==2.3.3
Flask-CORS==4.0.0
firebase-admin==6.2.0
numpy>=1.23.5,<2.0.0
librosa==0.10.1
tflite-runtime==2.14.0
joblib==1.3.2
scipy==1.10.1
opencv-python-headless==4.8.1.78
gunicorn==21.2.0
soundfile==0.12.1
soxr==0.3.7
audioread==3.0.0
python-dotenv==1.0.0
psutil==5.9.5
setuptools
wheel